.footer-div{
    height: 60px;
    width: 100%;
    bottom: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    background-color: #EDEDED;
    border-top: 1px solid #DDD;
}
p{
    margin-bottom: 0px;
}