<!-- nav -->
<app-header></app-header>

<!-- main app container -->
<div class="jumbotron custom-height" style="margin-bottom: 0px;" [ngClass]="{'footer-height':currentUser}">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<app-footer *ngIf="currentUser"></app-footer>
