<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" maxlength="30" formControlName="firstName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" maxlength="30" formControlName="lastName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Email ID</label>
        <input type="text" maxlength="50" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Email is required</div>
            <div *ngIf="f.username.errors.pattern">Email is invalid</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <label for="mobileNumber">Mobile Number</label>
        <input type="text" numbers formControlName="mobileNumber" maxlength="10" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" />
        <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
            <div *ngIf="f.mobileNumber.errors.required">Mobile Number is required</div>
            <div *ngIf="f.mobileNumber.errors.minlength">Mobile Number must be at least 10 characters</div>
        </div>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="address" formControlName="address" maxlength="100" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">address is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="dateOfBirth">DOB</label>
        <input type="date" formControlName="dateOfBirth" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }" />
        <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
            <div *ngIf="f.dateOfBirth.errors.required">date Of Birth is required</div>
        </div>
    </div>

    <div class="form-group" style="margin-top: 5%;">
        <label for="profile">Profile Image</label>
        <input type="file" class="form-control" formControlName="profile" (change)="fileChangeEvent($event)"
            accept="image/x-png,image/jpeg" [ngClass]="{ 'is-invalid': submitted && !croppedImage }" />
        <div *ngIf="submitted && !croppedImage" class="invalid-feedback">
            <div>profile Image is required</div>
        </div>

    </div>
    <div class="row" *ngIf="imageChangedEvent" style="margin-top: 5%;">
        <div  class="text-center col-md-8">
            <h5>Crop Image</h5>
            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
                [resizeToWidth]="256" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
        </div>
        <div *ngIf="croppedImage" class="text-center col-md-4">
            <h5>Preview</h5>
            <img [src]="croppedImage" />
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>